.backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    object-fit: contain;
}


.footer {
    position: relative;
    overflow: hidden;
    border-radius: 28px 28px 0 0;
    width: 100%;
    background: #070707;
    padding: 50px 0;
    color: #eee;
}

.footer-bg {
    background: linear-gradient(to top, #0f0f0f 0%, #0c0c0c 40%, #0f0f0f 100%);
    padding: 30px;
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 28px;
}


.footer-inner {
    position: relative;
    z-index: 1;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-left {
    flex: 1.3;
}

.desc {
    margin-top: 25px;
    width: 80%;
    font-size: 15px;
    line-height: 1.6;
    color: #cfcfcf;
}

.footer-columns {
    flex: 1.5;
    display: flex;
    justify-content: space-between;
}

.col h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 700;
}

.col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.col ul li {
    margin-bottom: 12px;
}

.col ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 15px;
}

.col ul li a:hover {
    color: #fff;
}

.email {
    display: inline-block;
    font-size: 24px;
    margin: 10px 0 20px;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.address,
.phone {
    color: #ccc;
    font-size: 15px;
}

.footer-bottom {
    position: relative;
    z-index: 1;
    max-width: 1400px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.footer-bottom p {
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.social {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer-bottom .social img {
    width: 24px;
    filter: brightness(0) invert(1);
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom .social img:hover {
    opacity: 0.7;
}