.pse-container,
.catelouge-container {
    width: 100%;
    background-color: #F8F2EA;
}

.pse-content,
.catelouge-content {
    width: 90%;
    margin: 40px auto;
    padding: 40px 0;
}

.pse-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.popular-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.popular-grid .popular-card:first-child,
.popular-card:nth-child(6) {
    grid-column: span 2;
}

.popular-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.popular-card img {
    width: 100%;
    height: 280px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease
}

.popular-card:hover img {
    transform: scale(1.05);
}

.popular-card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    background: linear-gradient(to top, #000000 0%, #00000000 100%);
    color: #fff;
    gap: 10px
}

.popular-card-text h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.popular-card-text p {
    font-size: 18px;
    color: #E9E9EA;
}