.pse-container-2 {
    width: 90%;
    margin: 40px auto;
}

.popular-title {
    text-align: center;
}

.popular-title p {
    color: #777980;
    font-size: 18px;
}

.popular-2-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 40px 0;
}

.popular-card-2-contant {
    border: 1px solid #ECEFF3;
    border-radius: 16px;
}

.card-hero-image {
    width: 100%;
    height: 324px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: transform 0.3s ease
}

.card-hero-image:hover {
    transform: scale(1.05);
}

.popular-2-info {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.popular-2-info h1 {
    font-size: 24px;
    font-weight: 600;
    color: #1D1F2C;
}

.popular-2-info div {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    background-color: #EAEFF2;
    border-radius: 32px;

}

.popular-2-info img {
    background-color: #EAEFF2;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.card-text-content {
    font-size: 18px;
    color: #777980;
    margin-top: 12px;
}

.read-more {
    width: 100%;
    background: #EAEFF2;
    color: #1D1F2C;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 32px;
    border: none;
    margin-top: 16px;
    ;
    cursor: pointer;
}

.popular-card-2-info {
    padding: 18px;
}