.msc-banner-container {
    width: 95%;
    max-width: 1300px;
    margin: 60px auto;
    height: 350px;
    border-radius: 22px;
    position: relative;
    overflow: hidden;

    background: url("../icons/stayConnect.png") center/cover no-repeat;
}

.stayConnect-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}


.stayConnect-content {
    width: 100%;
    max-width: 592px;
    max-height: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 80%;
}


.stayConnect-content p {
    font-size: 18px;
}


.banner-btn {
    background-color: #FFFFFF;
    color: #1D1F2C;
    border: none;
    padding: 10px 32px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    margin-top: 24px;
}

.banner-btn:hover {
    background: #f0f0f0;
}