 .why-choose-container {
     width: 90%;
     max-width: 1250px;
     margin: 80px auto;
 }

 .heading-box {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;
     margin-bottom: 40px;
 }

 .heading-box h1 {
     font-size: 48px;
     font-weight: 700;
     margin: 0;
 }

 .heading-box p {
     max-width: 570px;
     font-size: 18px;
 }


 .grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 22px;
 }


 .card {
     background: #F7F9FC;
     padding: 30px;
     border-radius: 16px;
     min-height: 145px;
     transition: 0.2s;
 }

 .card:hover {
     transform: translateY(-4px);
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
 }


 .highlight {
     background: #F8F2EA;
     grid-column: span 2;
 }


 .dark {
     background: #000;
     color: #fff;
     grid-column: span 2;
 }


 .icon {
     width: 38px;
     height: 38px;
     border-radius: 10px;
     border: 2px solid currentColor;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 18px;
     margin-bottom: 15px;
 }


 .card h3 {
     margin: 0;
     font-size: 20px;
     font-weight: 700;
     padding-bottom: 5px;
 }

 .card p {
     margin: 0;
     font-size: 18px;
     color: #777980;
 }